<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hackaton"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".CountdownActivity"
            android:exported="false" />
        <activity
            android:name=".UrlCheckActivity"
            android:exported="false" />
        <activity
            android:name=".CameraActivity"
            android:exported="false" />
        <activity
            android:name=".UrlProcessActivity"
            android:exported="false" />
        <activity
            android:name=".UrlActivity"
            android:exported="false" />
        <activity
            android:name=".FinalActivity"
            android:exported="false" />
        <activity
            android:name=".ScoreActivity"
            android:exported="false" />
        <activity
            android:name=".CameraActivity5"
            android:exported="false" />
        <activity
            android:name=".CameraActivity4"
            android:exported="false" />
        <activity
            android:name=".CameraActivity3"
            android:exported="false" />
        <activity
            android:name=".CameraActivity2"
            android:exported="false" />
        <activity
            android:name=".ResultActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".ProcessActivity"
            android:exported="false" />
        <activity
            android:name=".SongActivity"
            android:exported="false"
            android:label="@string/title_activity_song" />
        <activity
            android:name=".CameraActivity1"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>